.wrap {
    position: relative;
    height: 150px;
    background-size: cover;
    background-color: black;
    background-position: center;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    transition: opacity .3s ease;
    color: #FFF;
}
.content {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    padding: 10px;
    text-align: center;
    text-shadow: 0 1px 1px black;
}
.title {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.blurb {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

/* Hover state */
.wrap:hover .overlay {
    opacity: 1;
}