.wrap {
    background-color: #313131;
    color: #FFF;
    padding: 20px 0;
}
.nav {
    font-weight: 300;
}
.navList {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.navList li {
    margin: 0 8px;
    padding: 0;
    display: inline-block;
}
.navList a {
    text-decoration: none;
    color: #ababab;
    transition: color .2s ease;
}
.navList a:hover {
    color: #FFF;
}