.hero {
    position: relative;
    height: 400px;
    background-image: url(https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg);
    background-size: cover;
    background-position: center;
}
.heroTitle {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    width: 100%;
}
.heroTitle p {
    font-size: 35px;
    color: #FFF;
    text-align: center;
    margin: 0;
}