.player {
    background: #333132;
    color: #FFF;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.player iframe {
    width: 100% !important;
    height: 100% !important;
}